
.barChart{
    padding: 21px;
    border-radius: 10px;
    background-color: var(--frontback);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
    margin: 0 0 20px;
}

.barChart h2{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -.5px;
    text-transform: capitalize;
}

.toggleSpan{
    width: fit-content;
    margin: 2%;
    padding: 2px 7px;
    border-radius: 8px;
    background-color: var(--background);
    opacity: .7;
}

.toggleSpan button{
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--foreground);
    margin: 0px;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.active{
    background-color: var(--frontback);
    color: var(--theme1) !important;
}