.transactionContainer {
    padding: 21px;
    border-radius: 10px;
    background-color: var(--frontback);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
    margin: 0 0 20px;
}

.selectable{
    margin: 0;
    color: var(--foreground);
    background-color: var(--frontback);
    border: none;
}



.selectable div{
    color: var(--foreground);
    background-color: var(--frontback) ;
}

.selectable:hover,
.selectable:focus
{
    background-color: var(--background) ;
}

