.headSection {
    text-align: end;
    border-bottom: 1px solid rgba(128, 128, 128, 0.24);
    padding: 18px 3%;
    background-color: var(--frontback);
}

.headContainer button {
    cursor: pointer;

}

.headContent {
    display: flex;
    gap: 24px;
    justify-content: end;
    align-items: center;
}

.notificationBtn {
    cursor: pointer;
}


.menu {
    position: absolute;
    top: 40px;
    right: -16px;
    padding: 4px 9px;
}

.menu a,
    .menu button {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px 12px;
        border-radius: 10px;
        font-size: 16px;
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .active {
        color: white !important;
        background-color: #4e46e5b3 !important;
    }

    .menu a:hover,
    .menu button:hover {
        background-color: #4e46e5b3 !important;
        color: white;
    }

    .menu a:hover svg,
    .menu button:hover svg {
        color: white;
    }

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5e8eb3;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
}

.sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

.moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

/* .switch:hover */
.sun svg {
    animation: rotate 15s linear infinite;
}

@keyframes rotate {

    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.moon svg {
    animation: tilt 5s linear infinite;
}

@keyframes tilt {

    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.input:checked+.slider {
    background-color: #183153;
}

.input:focus+.slider {
    box-shadow: 0 0 1px #183153;
}

.input:checked+.slider:before {
    transform: translateX(30px);
}

.userInitials {
    cursor: pointer;
    position: relative;
}

.userInitials h1 {
    border-radius: 50%;
    background-color: rgba(78, 70, 229, 0.6);
    padding: 6px 9px;
}


@media (max-width :324.98px) {}

@media (min-width :325px) and (max-width :424.98px) {}

@media (max-width: 425px) {
    .headContent {
        gap: 12px;
    }

    .switch {
        width: 54px;
        height: 26px;
    }

    .slider:before {
        width: 23px;
        height: 23px;
        bottom: 1.6px;
    }

    .sun svg {
        width: 20px;
        height: 20px;
        left: 31px;
        top: 3px;
    }

    .moon svg {
        width: 20px;
        height: 20px;
        left: 4px;
        top: 3px;
    }

    .input:checked+.slider:before {
        transform: translateX(27px);
    }

    .userInitials {
        display: flex;
        justify-content: center;
    }

    .userInitials h1 {
        font-size: 16px;
        padding: 4px 8px;
    }



}

@media (min-width :425px) and (max-width: 575.98px) {}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (max-width: 1023.98px) {
    .headSection {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {}

@media (min-width: 1400px) {}

@media (min-width: 2560px) {}